<p-card
  class="card-small"
  styleClass="my-2 shadow-1 hover:shadow-4 cursor-pointer"
  (click)="loadPokemonDetail(pokemon)"
>
  <div class="flex">
    <img
      [src]="pokemon.details.sprites.other['official-artwork'].front_default"
      width="50"
      height="50"
    />
    <div class="flex align-items-center ml-2">
      <p>
        #
        {{ pokemon.species.pokedex_numbers[0].entry_number | number : "3.0-0" }}
      </p>
      <p class="capitalize ml-2">{{ pokemon.details.name }}</p>
      <p-chip
        [label]="pokemon.details.types[0].type.name"
        [styleClass]="pokemon.details.types[0].type.name + ' ml-2'"
      ></p-chip>
      @if (pokemon.details.types.length > 1 &&
      pokemon.details.types[1].type.name) {
      <p-chip
        [label]="pokemon.details.types[1].type.name"
        [styleClass]="pokemon.details.types[1].type.name + ' ml-2'"
      ></p-chip>
      }
    </div>
  </div>
</p-card>
