@if (!!pokeApi.selectedPokemon()) {
<p-panel header="General" [toggleable]="true" styleClass="text-center">
  <img
    [src]="pokemon.details.sprites.other['official-artwork'].front_default"
    width="150"
    height="150"
  />
  <div class="flex justify-content-between">
    <div class="flex flex-column align-items-start">
      <p class="capitalize font-bold text-xl">
        {{ pokemon.details.name }}
      </p>
      <p>{{ pokemonId | number : "3.0-0" }}</p>
    </div>
    <div class="flex">
      <div class="icon" [ngClass]="pokemon.details.types[0].type.name">
        <p-image
          [width]="imageSize"
          [height]="imageSize"
          [src]="'/images/types/' + pokemon.details.types[0].type.name + '.svg'"
          [pTooltip]="pokemon.details.types[0].type.name"
          tooltipPosition="top"
          positionTop="-38"
          tooltipStyleClass="capitalize"
        />
      </div>
      @if (pokemon.details.types.length > 1 &&
      pokemon.details.types[1].type.name) {
      <div class="icon ml-2" [ngClass]="pokemon.details.types[1].type.name">
        <p-image
          [width]="imageSize"
          [height]="imageSize"
          [src]="'/images/types/' + pokemon.details.types[1].type.name + '.svg'"
          [pTooltip]="pokemon.details.types[1].type.name"
          tooltipPosition="top"
          positionTop="-30"
          tooltipStyleClass="capitalize"
        />
      </div>
      }
    </div>
  </div>
</p-panel>
<pokemon-evolution></pokemon-evolution>
<pokemon-type [pokemonTypes]="pokemon.details.types"></pokemon-type>
<pokemon-location></pokemon-location>
<pokemon-learned-moves></pokemon-learned-moves>
}
