<p-panel header="Location" [toggleable]="true" styleClass="mt-2">
  @if (encounterInfo.length > 0) {
  <p-table [value]="encounterInfo" sortField="level" [sortOrder]="1">
    <ng-template #header>
      <tr>
        <th pSortableColumn="locationName">
          Location <p-sortIcon field="locationName" />
        </th>
        <th pSortableColumn="method">
          Encounter Method <p-sortIcon field="method" />
        </th>
        <th pSortableColumn="level">Level <p-sortIcon field="level" /></th>
        <th pSortableColumn="pctChance">
          Pct Chance <p-sortIcon field="pctChance" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-entry>
      <tr>
        <td>{{ entry.locationName }}</td>
        <td>{{ entry.method }}</td>
        <td>{{ entry.levelString }}</td>
        <td>{{ entry.pctChance }}</td>
      </tr>
    </ng-template>
  </p-table>
  }
</p-panel>
